.payment-card img{
    width: 40%;
    height:40%;
}
.payment{
    min-width: 100vw;
min-height: 100vh;
display: flex;
padding-top: 30px;
background-color: #E5E5E5;
justify-content: center;
text-align: center;
align-items: center;
}
.payment-card{
    background-color: #ffffff;
    padding: 20px;
    width: 50vw;
    border-radius: 15px;
     box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    align-items: center;
}
.payment-card h3,h2{
 color:#1B263B;
 margin: 10px;
}
.payment-button{
      padding:  15px;
  background-color: #2dcf4b; /* Navy default */
  color: white; /* Gold text default */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
 margin-top: 10px;
}
.payment-button:hover{
      padding:  15px;
  background-color: #90e878; /* Navy default */
  color: white; /* Gold text default */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
 margin-top: 10px;
}
@media (max-width: 600px) {
    .payment{
    
padding-top: 50px;
    }
}