/* RegisterForm.css */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-color: #dbf7fd;
     align-content: center;
}

.card {
    width: 60vw;
    padding: 90px;
    background-color: #fff;
    justify-content: center;
    border-radius: 10px;
    
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}
button {
    padding: 12px 30px;      /* smaller width instead of 100% */
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;          /* makes margin auto work */
    margin: 0 auto;          /* centers the button horizontally */
}
.buttons{
    padding: 5px;
    display: flex;
}
button:hover {
    background-color: #0056b3;
}
.error-message{
    color: rgb(198, 6, 6);
    text-align: center;
}